@import '../../../styles/variables';
@import '../../../styles/breakpoints';

.crew-sidebar-paper {
  width: 20%;
  overflow: hidden;
  border: none;
  background-color: transparent !important;
  &.active {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
  &.dark-mode {
    &.active {
      background-color: $primary-dark !important;
    }
  }
  &.light-mode {
    &.active {
      background-color: $primary-light !important;
    }
  }
}

.crew-sidebar-content-container {
  height: 96vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2rem;
  .crew-sidebar-content-logo {
    text-align: center;
    height: 9.375rem;
  }
  .avatar-content {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 9.375rem;
    margin: 0rem 2rem;
  }

  .crew-sidebar-content-paper {
    height: calc(100% - 9.375rem);

    overflow-y: auto;
    .crew-sidebar-ul {
      list-style: none;
    }
  }

  &.simplebar-content {
    height: '100%';
  }

  &.simplebar-scrollbar:before {
    background: $customBlack-main;
  }

  .crew-sidebar-toggle-theme {
    padding: 1rem;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;

    .content {
      width: 10rem;
    }
  }
}

// @media screen and (max-width: 900px) {
//   /* SM and XS screen */
//   .crew-sidebar-paper {
//     width: 18.75rem !important;
//     background-color: inherit;
//   }
// }

@include md-xs-breakpoint {
  .crew-sidebar-paper {
    width: 18.75rem !important;
    background-color: inherit;
  }
}
