@import '../../../styles/variables';
.arrow {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: $tertiary-dark;
  cursor: pointer;
  padding-left: 0.6rem;
  padding-top: 0.3rem;
}

.manage-section {
  color: $tertiary-dark;
  padding-top: 0.13rem;
  padding-left: 0.4rem;
}

.subheader-content {
  font-size: 0.8rem;
  padding-left: 2.3rem;
  padding-top: 0.6rem;
}
