@import '../../../../styles/variables';

.table-container {
  padding: 0.5rem;
}

.warning {
  color: $warning;
}

.error {
  color: $error;
}
.notfound {
  color: $warning;
}

.modal-footer-container {
  text-align: center;
  justify-content: center;
  align-items: center;
  .content {
    width: 15rem;
  }
}
