
@import '../../../styles/variables';
.crew-hero-panel-container{
    width: 100%;
    min-width:50rem;

}
.crew-hero-small-card{
margin-left: 16rem;
width: 100%;
padding-top: 6rem;
max-width: 20rem;
}

  