@import '../../../styles/variables';

.page-head-container {
  width: 100%;
  height: 2.5rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  align-content: center;
  &.dark-mode {
    background-color: $info-light;
  }
  &.light-mode {
    background-color: $customGray-light;
  }
  .page-head-label {
    margin-left: 1.25rem;
    text-transform: uppercase;
  }
}
