@import '../../../styles/variables';
@import '../../../styles//breakpoints';

.crew-mobile-number {
  padding-right: 0.2rem;
}
.react-tel-input {
  font-family: 'Poppins', sans-serif !important;
  font-size: 0.8rem !important;

  .form-control {
    position: relative;
    font-size: 0.875rem;
    letter-spacing: 0.01rem;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 3rem !important;
    background: transparent !important;
    // width: 80% !important;
    outline: none;
    text-indent: 1rem !important;
    height: 2.5rem !important;
    border-radius: none !important;
    color: $tertiary-light !important;
    padding-left: 0rem !important;
    border-radius: 0.8rem !important;
    border: 0.063rem solid $tertiary-light !important;
    @include xs-breakpoint {
      width: 89% !important;
    }
    @include sm-breakpoint {
      width: 83% !important;
    }
    @include sm-Max-Breakpoint {
      width: 76% !important;
    }

    @include md-breakpoint {
      width: 77% !important;
    }
    @include lg-breakpoint {
      width: 84% !important;
    }
    @include xl-breakpoint {
      width: 87% !important;
    }
  }
  .flag-dropdown {
    background: transparent !important;
    border-radius: 0.5rem !important;
    border: 0.063rem solid $tertiary-light !important;
  }
  .flag-dropdown.open .selected-flag {
    background: transparent !important;
  }
  .selected-flag:hover {
    background: transparent !important;
  }
  .selected-flag .arrow {
    border-top: 0.25rem solid $tertiary-light !important;
    width: 0.563rem;
    height: 0.375rem;
    padding-left: unset;
    padding-right: unset;
  }
}

.dark-mode {
  .react-tel-input {
    .form-control {
      border-radius: 0.8rem !important;
      border: 0.1rem solid $primary-light !important;
      color: $primary-light !important;

      &:hover {
        box-shadow: 0px 0px 1rem 0px transparentize($primary-light, 0.5);
        transition: border-color 0.3s ease-in-out;
      }

      &:focus {
        border: 0.16rem solid $primary-light !important;
      }
    }
    .flag-dropdown {
      border: 0.1rem solid $primary-light !important;

      &:hover {
        box-shadow: 0px 0px 1rem 0px transparentize($primary-light, 0.5);
      }

      &:focus-within {
        border: 0.16rem solid $primary-light !important;
      }
    }
    .selected-flag .arrow {
      border-top: 0.25rem solid $primary-light !important;
    }
  }
}

.light-mode {
  .react-tel-input {
    .form-control {
      border-radius: 0.8rem !important;
      border: 0.1rem solid $primary-dark !important;
      color: $primary-dark !important;

      &:hover {
        box-shadow: 0px 0px 1rem 0px transparentize($primary-dark, 0.5);
      }

      &:focus {
        border: 0.16rem solid $primary-dark !important;
      }
    }
    .flag-dropdown {
      border: 0.1rem solid $primary-dark !important;

      &:hover {
        box-shadow: 0px 0px 1rem 0px transparentize($primary-dark, 0.5);
      }

      &:focus-within {
        border: 0.16rem solid $primary-dark !important;
      }
    }
    .selected-flag .arrow {
      border-top: 0.25rem solid $primary-dark !important;
    }
  }
}
