@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html,
body {
  max-width: 100vw;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

::-webkit-scrollbar {
  width: 3px !important;
  height: 3px !important;
  background-color: inherit !important;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #363535 !important;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px inherit  !important;
    background-color: inherit  !important;
    border-radius: 3px;
}
