.icon-container {
    margin-top: 1rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .icon {
      cursor: pointer;
      font-size: 2rem;
    }
  }
  