@import '../../../styles/variables';
.crew-typography {
  font-weight: normal;
  text-align: left;
  &.inherit {
    color: $primary-contrastText !important;
  }
  &.dark-mode {
    color: $primary-contrastText;
  }
  &.light-mode {
    color: $customBlack-main;
  }
  &.font-weight-normal {
    font-weight: normal;
  }
  &.font-weight-bold {
    font-weight: bold;
  }
  &.text-align-right {
    text-align: right;
  }
  &.text-align-left {
    text-align: left;
  }
  &.text-align-center {
    text-align: center;
  }
  &.font-dark-mode-color {
    color: $primary-contrastText;
  }
  &.font-light-mode-color {
    color: $customBlack-main;
  }
}
